*~
/vendor
/node_modules
/.sass-cache/
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/public/fonts/*
/resources/*.xlsx
/public/css/app.css
/public/js/bundle.js
!/storage/app/places/example.json
