*~
/vendor
/node_modules
/.sass-cache/
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/resources/*.xlsx
!/storage/app/places/example.json
/storage/app/
/public/fonts/
/public/js/bundle.js
/public/js/external.js
/public/css/app.css
/public/css/external.css
/public/images/lieux/*
!/public/images/lieux/.gitkeep
/database/*.sqlite
/storage/import/*
!/storage/import/.gitkeep
