
.inversed {
    -webkit-filter: invert(100%);
    filter: invert(100%);
} 
.nav-container a:link {
    text-decoration: none;
    font-family:   "LMR10B", 'Times New Roman', Times, serif;
    color: hsl(213, 100%, 24%);
    padding-bottom: 2px;
}
.nav-container a:hover {
    text-decoration: none;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    color: #111;
    padding-bottom: 2px;
    border-bottom: 2px solid hsl(0, 100%, 24%);

}
.nav-container a:visited {
    text-decoration: none;
    color: hsl(213, 100%, 24%);
    padding-bottom: 2px;
}
a:link {
    background-color: transparent;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(213, 100%, 24%);
    background: none;
}
a:hover {
    background-color: transparent;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #111;
    background: none;
}
a:visited {
    background-color: transparent;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(251, 100%, 24%);
    background: none;
}
.sec-container a:link , .hdr-container a:link, .prev-container a:link{
    background-color: transparent;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(213, 100%, 24%);
    background: none;
}
.sec-container a:hover, .hdr-container a:hover, .prev-container a:hover, .prim-content a:hover {
    background-color: transparent;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 100%, 24%);
    background: none;
}
ul.outline a:link {
    background-color: transparent;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(213, 100%, 24%);
    background: none;
    list-style-type: none;
}
ul.outline a:hover {
    background-color: transparent;
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 100%, 24%);
    background: none;
    list-style-type: none;
}

/* Header, Paragraph, and other generic text Styles */

h1 {
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1em;
    margin: 0em 0em 1em 0em;
    line-height: 1em;
    text-align: center;
}
h2 {
    font-family: "LMR10B", 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1em;
    margin: 0em 0em 1em 0em;
    line-height: 1em;
}
h3 {
    font-family: "LMR10B", 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1em;
    margin: 2em 0em 1em 0em;
    line-height: 1em;
}
mark {
    background: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0
}
pre {
    height: auto;
    max-height: -webkit-fill-available;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}
pre, textarea {
    overflow: auto
}
code, kbd, pre, samp {
    font-family:  "LMR10B", 'Times New Roman', Times, serif;
    color: hsl(0, 100%, 24%);
    padding: 0px .6125em;
    background-color: #F7F7F7;
    vertical-align: text-top;
    border: none;
    outline: none;
}
text {
    font-family:  "SF Mono Regular", "iAWriterMonoS-Regular", monospace;
    color: #000;
    font-weight: 500;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
.pure-button, input {
    line-height: normal
}
button {
    overflow: visible
}
button, select {
    text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled], html input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}
.pure-button, .pure-form input:not([type]), .pure-menu {
    box-sizing: border-box
}
.pure-button:focus, a:active, a:hover {
    outline: 0
}
strong {
    font-family: LMR10I;
}
.rightText {
    text-align: right;
    float: right;
}

/* Main & Nav Menu */


#main {
    position: relative;
    padding-left: 0;
}
    #main.active #nav {
        left: 160px;
        width: 160px;
    }
#main,
#nav,
.nav-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#main.active .nav-link {
    left: 160px;
}
#nav {
    margin-left: -160px; /* "#nav" width */
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    #nav a {
        color: #999;
        border: none;
        white-space: normal;
        padding: 0.625em 1em;
    }
    #nav .nav-menu-open {
        background: transparent;
        border: 0;
    }
    #nav .nav-menu ul {
        border: none;
        background: transparent;
        display: block;
    }
    #nav .nav-menu ul,
    #nav .nav-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        #nav .nav-menu li a:hover,
        #nav .nav-menu li a:focus {
            background: #333;
        }
    .nav-link {
        position: fixed;
        display: block; /* show this only on small screens */
        top: 0;
        left: 0; /* "#nav width" */
        background: #000;
        background: rgba(0,0,0,0.7);
        font-size: 11px; /* change this value to increase/decrease button size */
        z-index: 10;
        width: 4em;
        height: 4em;
        padding: 1em;
    }
        .nav-link:hover,
        .nav-link:focus {
            background: #000;
        }
        .nav-link span {
            position: relative;
            display: block;
            margin-top: 0.9em;
        }
        .nav-link span,
        .nav-link span:before,
        .nav-link span:after {
            background-color: #fff;
            width: 100%;
            height: .2em;
            -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
        }
            .nav-link span:before,
            .nav-link span:after {
                position: absolute;
                top: -.55em;
                content: " ";
            }
            .nav-link span:after {
                top: .55em;
            }
        .nav-link.active span {
            background: transparent;
        }
            .nav-link.active span:before {
                -webkit-transform: rotate(45deg) translate(.5em, .4em);
                    -moz-transform: rotate(45deg) translate(.5em, .4em);
                    -ms-transform: rotate(45deg) translate(.5em, .4em);
                        -o-transform: rotate(45deg) translate(.5em, .4em);
                        transform: rotate(45deg) translate(.5em, .4em);
            }
            .nav-link.active span:after {
                -webkit-transform: rotate(-45deg) translate(.4em, -.3em);
                    -moz-transform: rotate(-45deg) translate(.4em, -.3em);
                    -ms-transform: rotate(-45deg) translate(.4em, -.3em);
                        -o-transform: rotate(-45deg) translate(.4em, -.3em);
                        transform: rotate(-45deg) translate(.4em, -.3em);
            }
    #nav .nav-heading {
        font-size: 125%;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: #fff;
        margin-top: 0;
        padding: 0.5em 0.8em;
        text-transform: uppercase;
    }
    #nav .nav-heading:hover,
    #nav .nav-heading:focus {
        color: #999;
    }
    #nav .nav-menu-selected {
        background: #1f8dd6;
    }
        #nav .nav-menu-selected a {
            color: #fff;
        }
        #nav li.nav-menu-selected a:hover,
        #nav li.nav-menu-selected a:focus {
            background: none;
        }
#nav-title {
    display: block;
    text-align: center;
    position: relative;
}
#prev-title {
    bottom: .375em;
    font-size: 1em;
    font-family: "LMR10B", 'Times New Roman', Times, serif;
    margin-left: .75em;
    position: relative;
}

/* Toggle Switch W3 */

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: .67em;
}
.switch input {
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: none;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #000;
}
input:focus + .slider {
    /* box-shadow: 0 0 0px #2196F3; */
    border: 1px solid #666;
}
input:not(:checked) + .slider {
    /* box-shadow: 0 0 0px #2196F3; */
    border: 1px solid #A11;
}
input:checked + .slider:before {
    -webkit-transform: translateY(.75em);
    -ms-transform: translateY(.75em);
    transform: translateY(.75em);
}

/* Rounded sliders */

.slider.round {
border-radius: 0em;
}
.slider.round:before {
border-radius: 10%;
}

/* List Styles */

ol {
    list-style-type: none;
}
ol.level-prim {
    list-style-type: none;
    padding-inline-start: 0em;
    margin-top: 2em;
}
ol.level-one {
    list-style-type: none;
    padding-inline-start: 0em;
}
ol.level-two {
    list-style-type: none;
    padding-inline-start: 2em;
}
ol.level-three {
    list-style-type: none;
    padding-inline-start: 2em;
}

/* Image Styles */

img {
    border: 0
}
.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
}
.card-img {
    /* max-width: 200px; */
    float: right;
    width: 35%;
    height: auto;
    display: block;
}
.footer-img {
    width: 45px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* User Containers, & Content Divs */

.nav-container, .sec-container , .single-container, .last-container, .foot-container {
    text-rendering: optimizespeed;
    font-family: "LMR10R", 'Times New Roman', Times, serif;
    font-size: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.nav-container, .sec-container, .single-container, .last-container, .foot-container > div {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: .75em;
}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    table .sec-container, .single-container, .last-container {
        display: block
    }
}
.nav-content {
    padding: 1em 0em;
    letter-spacing: normal;
    width: 100%;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
}
.prim-content {
    padding: 1em;
    position: relative;
    box-sizing: border-box;
    letter-spacing: normal;
    width: 100%;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
}
.prim-content p {
    margin-top: 1em;
    line-height: 1.25em;
    font-weight: 100;
}
.card-content {
    padding: 1em;
    box-sizing: border-box;
    letter-spacing: normal;
    width: 100%;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
}
.card-content p {
    line-height: 1.25em;
    float: left;
    font-weight: 100;
}
.report-content {
    padding: 1em;
    box-sizing: border-box;
    letter-spacing: normal;
    width: 100%;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
    margin-top: 3em;
}
.report-content p {
    margin-top: 1em;
    line-height: 1.25em;
    font-weight: 100;
}
.pag-content {
    padding: 1em;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
}

/* Primary Container */

.prim-container {
    padding: 5% 0em;
    color: black;
    margin: 0em 1em;
}
@media (min-width: 30.0em) {
    .prim-container {
        padding: 5% 0em;
        color: black;
        margin: 0em 1.5em;
    }
}
@media (min-width: 48em) {
    .prim-container {
        padding: 5% 0em;
        color: black;
        margin: 0em 10.5em;
    }
}
@media (min-width: 64em) {
    .prim-container {
        padding: 5% 0em;
        color: black;
        margin: 0em 18.5em;
    }
}
@media (min-width: 90em) {
    .prim-container {
        padding: 5% 0em;
        color: black;
        margin: 0em 31.5em;
    }
}
@media (min-width: 160em) {
    .prim-container {
        padding: 5% 0em;
        color: black;
        margin: 0em 66.5em;
    }
}
.prim-container .nav-container {
    border: 1px solid #F0F0F0;
    padding: 1em;
    margin-bottom: 1em;
}
.prim-container .sec-container {
    border: 1px solid #F0F0F0;
    padding: 1em;
    margin-bottom: 1em;
}
.prim-container .pag-container {
    border: 1px solid #F0F0F0;
    padding: 1em;
    margin: 1em 0em;
    text-align: end;
}

/* Dialog Container */

.dialog-container {
    font-family: "SF Mono Regular";
    padding: 0em;
    background-color: #FFF;
    color: black;
    box-shadow: 1px 1px;
    border: 1px solid #000;
    margin: 0em 1em;
}
@media (min-width: 30.0em) {
    .dialog-container {
        margin: 0em 1.5em;
    }
}
@media (min-width: 48em) {
    .dialog-container {
        margin: 0em 10.5em;
    }
}
@media (min-width: 64em) {
    .dialog-container {
        margin: 0em 18.5em;
    }
}
@media (min-width: 90em) {
    .dialog-container {
        margin: 0em 31.5em;
    }
}
@media (min-width: 160em) {
    .dialog-container {
        margin: 0em 66.5em;
    }
}
.dialog-container .sec-container {
    border: none;
    background-color: #FFF;
    padding: 1em;
    margin-bottom: 0em;
}

/* Other Containers */

.single-container, .last-container {
    border: 1px solid #F0F0F0;
    padding: 1em;
    margin: 0em;
}
.hdr-container, .prev-container {
    border: 1px solid #F0F0F0;
    padding: 1em;
    margin-bottom: 1em;
}
.prev-container p {
    padding: 1em 0em 1em 0em;
    margin: 0em;
}
.overlay-container {
    border: none;
    padding: 1em;
    background: #FFF;
}
.foot-container {
    border: none;
    margin: 2em 1em 1em 1em;
}
.hdr-caption, .prev-caption {
    padding: 0em;
    letter-spacing: normal;
    width: 100%;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
}
.hdr-caption-alert, .prev-caption {
    padding: 0em;
    letter-spacing: normal;
    width: 100%;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
}
.hdr-caption p, .prev-caption p {

    font-size: 1em;
    padding: 1em;
    margin: 0em;
    line-height: 1.25em;
    font-weight: 100;
}
.hdr-caption-alert p {

    font-size: 1em;
    padding: 1em;
    margin: 0em;
    line-height: 1.25em;
    font-weight: 100;
    border: 1px solid hsl(0, 100%, 24%);
}
.alert-span {

    font-size: 1em;
    padding: 1em;
    margin: 0em;
    line-height: 1.25em;
    font-weight: 100;
    display: block;
    border: 1px solid hsl(0, 100%, 24%);
}


/* Header Divs */

.header-left {
    width: 50%;
    float: left;
    padding: 1em 1em 0em 1em;
}
.header-right {
    text-align: end;
    padding: 1em 1em 0em 1em;
}

/* Preview Divs */

.prev-left {
    width: 55%;
    float: left;
    padding: 1em 1em 0em 1em;
}
.prev-right {
    text-align: end;
    padding: 1em 1em 0em 1em;
}

/* Pagination Divs */

.pag-left {
    width: 50%;
    text-align: left;
    float: left;
    padding: 1em;
}
.pag-right {
    text-align: end;
    padding: 1em;
}

/* Primary Table Styles */

.prim-table, table {
    /* font-family: "SF Mono Regular"; */
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-spacing: 0
}
.prim-table caption {
    color: #000;
    padding: 1em 0;
    text-align: center
}
.prim-table td, .prim-table th {
    border: none;

    font-size: 1em;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 0em em;
}
.prim-table td.dialog-toggle, .prim-table th.dialog-toggle  {
    padding: 0em;
}
 .prim-table th {
    background-color: #EEE;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    color: #000;
}
.prim-table td.dialog-value {
    font-family: "SF Mono Regular";
    padding-left: 0em;
}
.prim-table td:first-child, .prim-table th:first-child {
    border-left-width: 0;
    border-right: 1px solid #CCC;
}
.prim-table thead {
    background-color: #DDD;
    color: #000;
    text-align: left;
    vertical-align: bottom
}
.prim-table td {
    background-color: transparent
}
.prim-table-odd td, .prim-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2
}
.prim-table-bordered td {
    border-bottom: 1px solid #cbcbcb
}
.prim-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0
}
.prim-table-horizontal td, .prim-table-horizontal th {
    border-width: 0 0 1px;
    border-bottom: 1px solid #cbcbcb
}
.prim-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0
}
tbody {
    width: 100%;
}

/* Dialog Table Styles */

.prim-table th.dialog-mod {
    text-align: right;
}
.prim-table th.dialog-size {
    text-align: right;
}
.prim-table th.dialog-item {
    font-family: "SF Mono Regular";
    text-indent: .25em;
    text-align: left;
}
.prim-table td.dialog-mod {
    text-align: right;
}
.prim-table td.dialog-size {
    text-align: right;
}
.prim-table td.dialog-item {
    text-indent: .25em;
    text-align: right;
    padding-right: .5em;
}

/* Dialog Mod Width Responsiveness */

@media (min-width: 30em) {
    th.dialog-mod, td.dialog-mod {
        width: 33.33333%;
    }
}
@media (min-width: 48em) {
    th.dialog-mod, td.dialog-mod {
        width: 25%;
    }
}
@media (min-width: 64em) {
    th.dialog-mod, td.dialog-mod {
        width: 20%;
    }
}
@media (min-width: 90em) {
    th.dialog-mod, td.dialog-mod {
        width: 16.66667%;
    }
}
@media (min-width: 160em) {
    th.dialog-mod, td.dialog-mod {
        width: 12%;
    }
}

/* Dialog Size Width Responsiveness */

@media (min-width: 20em) {
    th.dialog-size, td.dialog-size {
        width: 8.33333%;
    }
}
@media (min-width: 90em) {
    th.dialog-size, td.dialog-size {
        width: 10%;
    }
}
@media (min-width: 160em) {
    th.dialog-size, td.dialog-size {
        width: 10%;
    }
}

/* Dialog Value Width Responsiveness */

@media (min-width: 20em) {
    th.dialog-value, td.dialog-value {
        width: 85%;
        text-align: left;
        text-indent: .25em;
    }
}
@media (min-width: 90em) {
    th.dialog-value, td.dialog-value {
        width: 80%;
        text-align: left;
        text-indent: .25em;
    }
}
@media (min-width: 160em) {
    th.dialog-value, td.dialog-value {
        width: 80%;
        text-align: left;
        text-indent: .25em;
    }
}

/* Dialog Toggle Width Responsiveness */

@media (min-width: 20em) {
    th.dialog-toggle, td.dialog-toggle {
        width: 8.33333%;
    }
}
@media (min-width: 90em) {
    th.dialog-toggle, td.dialog-toggle {
        width: 10%;
    }
}
@media (min-width: 160em) {
    th.dialog-toggle, td.dialog-toggle {
        width: 10%;
    }
}

/* Dialog Size Width Responsiveness */

@media (min-width: 20em) {
    th.dialog-button, td.dialog-button {
        width: 8.33333%;
        text-align: center;
        border: 1px solid #CCC;
    }
}
@media (min-width: 90em) {
    th.dialog-button, td.dialog-button {
        width: 10%;
        text-align: center;
        border: 1px solid #CCC;
    }
}
@media (min-width: 160em) {
    th.dialog-button, td.dialog-button {
        width: 10%;
        text-align: center;
        border: 1px solid #CCC;
    }
}

/* Outline Table Styles */

.outline-table  {
    border-collapse: collapse;
    margin-top: 1em;
    border-spacing: 0;
    width: 100%;
}
.outline-table caption {
    color: #000;
    font: italic 85% / 1 arial, sans-serif;
    padding: 1em 0;
    text-align: center
}
.outline-table td, .outline-table th {
    border: none;

    font-size: 1em;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 0em 1em;
}
 .outline-table th {
    color: #000;
    font-weight: 800;
}
.outline-table td:first-child, .outline-table th:first-child {
    border-left-width: 0
}
.outline-table thead {
    background-color: #DDD;
    color: #000;
    text-align: left;
    vertical-align: bottom
}
.outline-table td {
    background-color: transparent
}
.outline-table-odd td, .outline-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2
}
.outline-table-bordered td {
    border-bottom: 1px solid #cbcbcb
}
.outline-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0
}
.outline-table-horizontal td, .outline-table-horizontal th {
    border-width: 0 0 1px;
    border-bottom: 1px solid #cbcbcb
}
.outline-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0
}
.outline-table td.outline-one, th.outline-one {
    text-align: left;
    padding-inline-start: .25em;
}
.outline-table td.outline-two {
    text-align: left;
    padding-inline-start: .25em;
}
.outline-table td.outline-three {
    text-align: left;
    padding-inline-start: .25em;
}

/* Tab Div */

.tab {
    overflow: hidden;
    margin-bottom: 1em;
    border: 1px solid #F0F0F0;
    background-color: #FFF;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    font-size: 1em;
}
.tab button:hover {
    background-color: #F1F1F1;
}
.tabcontent {
    display: none;
    padding: 2em;
    margin-bottom: 1em;
    border: 0px solid #ccc;
    border-top: none;
}
.topright {
    float: right;
    cursor: pointer;
}
/* Custom Buttons */

#single-button, #toggle-button, #panel-button, #output-button, #invert-button  {
    position: sticky;
    float: right;
    right: 0%;
    margin-right: 0em;
    display: block;
    background: none;
    padding: .375em 1em;
    color: #000; /* #FFF for homemenu_img
    /* height: 2em; */
    border: none;
    box-shadow: none;
    outline: none;
}

/* Iframe Result */

/* #iframeResult {
    width: 100%;
    height: inherit;
} */

/* Editor Styles */

#main-container {
    background-color: #FFF;
    border-top: 1px solid #666;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 2.5em; /* 138px */
    bottom: 0;
    height: auto;
}
#code-container {
    float: left;
    height: 100%;
    width: 45%;
}
#output-container {
    float: left;
    height: 100%;
    width: 55%;
}
#code-textarea, #output-iframe {
    height: 100%;
    width: 100%;
}
#code-wrapper {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    position: relative;
    box-shadow: none;
}
#output-wrapper {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    background-color: #FFF;
    box-shadow: none;
}
#iframeResult {
    background-color: #FFF;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 727px) {
    #main-container {top:2.5em;}

}
@media screen and (max-width: 467px) {
    #main-container {top:2.5em;}
}
@media only screen and (max-device-width: 768px) {
    #output-wrapper {overflow: auto;}
    #main-container     {min-width:320px;}
}



@media (max-width: 64em) {
    #code-container {
        width: 100%;
        height: 37.5%;
        float: none;
    }
}
@media (max-width: 64em) {
    #output-container {
        width: 100%;
        height: 62.5%;
        float: none;
    }
}

/* Menu Dialog Overlay Styles */

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: rgba(0,128,128,.75); */
    background-color: rgba(255,255,255,0.98);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color:#f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* D3 Alternate Styles */

.domain {
    display: none;
}

/* Textarea Styles */

#data-input {
    width: -webkit-fill-available;
    margin-right: .5em;
    height: 122px;
}

/* My defined input styles */

.calc-field {
    border: solid 1px transparent;
    background: rgba(0, 0, 0, 1);
    font-family: "SF Mono Regular";
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
    vertical-align: text-top;
}

.calc-field:hover {
    border: solid 1px transparent !important;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.33);
    font-family: "SF Mono Regular";
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}

.calc-field:focus {
    border: solid 1px transparent !important;
    outline: none;
    background: #CC0000;
    font-family: "SF Mono Regular";
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}

.calc-return {
    border: solid 1px rgba(0, 0, 0, 0.125);
    background: rgba(0, 0, 0, 0.125);
    font-family: "SF Mono Regulari";
    font-size: 12px;
    color: #000;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}

.calc-return:hover {
    border: solid 1px transparent !important;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.33);
    font-family: "SF Mono Regular";
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}

.calc-return:focus {
    border: solid 1px transparent !important;
    outline: none;
    background: rgba(0, 0, 0, 1);
    font-family: "SF Mono Regular";
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}

.calc-analysis {
    border: solid 1px rgba(0, 0, 0, 0.125);
    background: rgba(0, 0, 0, 0.125);
    font-family: "Nitti";
    font-size: 12px;
    color: #000;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}

.calc-analysis:hover {
    border: solid 1px transparent !important;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.33);
    font-family: "SF Mono Regular";
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}

.calc-analysis:focus {
    border: solid 1px transparent !important;
    outline: none;
    background: rgba(0, 0, 0, 1);
    font-family: "SF Mono Regular";
    font-size: 12px;
    font-weight: 900;
    color: #FFF;
    width: 9em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: right;
}
.col-title {
    background: #FFF;
    font-family: "SF Mono Regular";
    font-size: 12px;
    color: #000;
    width: 20em;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    margin: 0;
    text-align: right;
}

/* Full Width Input Field Styles */


.calc-field-full {
    border: solid 1px #FFF;
    background: rgba(255, 255, 255, 1);
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #000;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
    /* vertical-align: text-top; */
}

.calc-field-full:hover {
    border: solid 1px #EEE;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.33);
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #FFF;
    font-size: 100%;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}

.calc-field-full:focus {
    border: solid 1px #DDD;
    outline: none;
    background: rgba(255, 255, 255, 1);
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #000;
    font-size: 100%;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}

.calc-return-full {
    border: solid 1px #FFF;
    background: rgba(255, 255, 255, 1);
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #000;
    font-size: 100%;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}

.calc-return-full:hover {
    border: solid 1px #EEE;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.33);
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #FFF;
    font-size: 100%;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}

.calc-return-full:focus {
    border: solid 1px #DDD;
    outline: none;
    background: rgba(255, 255, 255, 1);
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #000;
    font-size: 100%;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}

.calc-analysis-full {
    border: solid 1px #FFF;
    background: rgba(255, 255, 255, 1);
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #000;
    font-size: 100%;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}

.calc-analysis-full:hover {
    border: solid 1px #EEE;
    box-shadow: none;
    background: #EEE;
    font-family: "SF Mono Regular";
    font-weight: 400;
    color: #FFF;
    font-size: 100%;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}

.calc-analysis-full:focus {
    border: solid 1px #DDD;
    outline: none;
    background: rgba(255, 255, 255, 1);
    font-family: "SF Mono Regular";
    font-size: 100%;
    font-weight: 400;
    color: #000;
    width: 100%;
    height: 1.25em;
    padding: 0em .25em 0em 0em;
    text-align: left;
}


@media (min-width: 20em) {
    .calc-field-full, .calc-field-full:focus, .calc-field-full:hover,
    .calc-return-full, .calc-return-full:focus, .calc-return-full:hover,
    .calc-analysis-full, .calc-analysis-full:focus, .calc-analysis-full:hover {
        width: -webkit-fill-available;
        text-align: left;
        text-indent: .25em;
        display: block;
        margin: .25em;
        position: inherit;
        font-size: 100%;
        font-weight: 400;
        height: 2.0em;
    }
}
@media (min-width: 90em) {
    .calc-field-full, .calc-field-full:focus, .calc-field-full:hover,
    .calc-return-full, .calc-return-full:focus, .calc-return-full:hover,
    .calc-analysis-full, .calc-analysis-full:focus, .calc-analysis-full:hover {
        width: -webkit-fill-available;
        text-align: left;
        text-indent: .25em;
        display: block;
        margin: .25em;
        position: inherit;
        font-size: 100%;
        font-weight: 400;
        height: 1.75em;
    }
}
@media (min-width: 160em) {
    .calc-field-full, .calc-field-full:focus, .calc-field-full:hover,
    .calc-return-full, .calc-return-full:focus, .calc-return-full:hover,
    .calc-analysis-full, .calc-analysis-full:focus, .calc-analysis-full:hover {
        width: -webkit-fill-available;
        text-align: left;
        text-indent: .25em;
        display: block;
        margin: .25em;
        position: inherit;
        font-size: 100%;
        font-weight: 400;
        height: 1.5em;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: inherit;
  font-family: "SF Mono Regular", monospace;
  -webkit-text-fill-color: inherit;
  font-size: inherit;
  color: #000;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Other markup styles  */

.tg  {border-collapse:collapse;border-spacing:0; width:100%;}
.tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family: "LMR10B", 'Times New Roman', Times, serif;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;width:auto;}
.docH3 {border-bottom: 1px solid #CCC; padding-bottom: 4px};

/* End */
