#mapid {
    height: 100%;
    width: 100%;
}

#info-panel {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    display: none;
    width: 25%;
    height: 100%;
    z-index: 1000;
}
