@font-face {
    font-family: blzee-font;
    src: url(../fonts/blzee/blzee.ttf) format('truetype');
}

#balance, #process{
    height: 20em;
    margin: 1%;
}

.impacts >h1, .impacts >h2, .app-name > h1{
    font-family: blzee-font;
    font-size: 5em;
}

.block-data-stat > div{
    margin: 1em;
    height: 10em;
}
@media (min-height: 300px) {
    #scrolling-menu {
        position: sticky;
        top: 0;
    }

    #scrolling-menu aside {
        padding-top: 1rem;
    }
}

.anchor {
    scroll-margin-top: 2em;
}

html {
    scroll-behavior: smooth;
}

.write-us, .write-us+span, .social-network{
    padding: 10%;
}

.menu.is-inverted > .menu-list a{
    color: white;
}
.menu.is-inverted > .menu-list a:hover{
    color: black;
}
