.d3_tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

#wordcloud {
    vertical-align: middle;
    display: table-cell;

    .word {
        font-size: $size-3;
        margin-right: $size-2;
        word-break: keep-all;

        &:nth-of-type(3n+1) { color: #C7514D; }
        &:nth-of-type(3n+2) { color: #EA7B6C; }
        &:nth-of-type(3n+3) { color: #7E97A7; }
    }
}
