.d3_tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

#wordcloud {
    vertical-align: middle;
    display: table-cell;

    .word {
        font-size: $size-3;
        margin-right: $size-2;

        &:nth-of-type(3n+1) { color: #cb4f4a; }
        &:nth-of-type(3n+2) { color: #df9f8d; }
        &:nth-of-type(3n+3) { color: #262631; }
    }
}
