.edit {
    border: 1px dotted #e85048;

    &.hidden {
        opacity: 0.5;
    }

    .icon-edit {
        margin: 5px;
        text-align: left;
        display: inline-block;

        &.toggle {
            position: absolute;
        }

        i {
            cursor: pointer;
        }
    }
}

.edit.hidden .icon-edit:hover i.fa.fa-eye-slash::before {
    content: "\f06e";
}

.edit .icon-edit:hover i.fa.fa-eye::before {
    content: "\f070";
}
.crayons {
  color:inherit;
}
