.edit {
    border: 1px $black dotted;

    &.hidden {
        opacity: 0.5;
    }

    .icon-edit {
        margin: 0 5px;
        text-align: left;
        display: inline-block;

        i {
            cursor: pointer;
        }
    }
}

.edit.hidden .icon-edit:hover i.fa.fa-eye-slash::before {
    content: "\f06e";
}

.edit .icon-edit:hover i.fa.fa-eye::before {
    content: "\f070";
}
