.carousel-container {
    overflow: hidden;

    &.with-padding {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.map-place {
    display: block;
    height: 250px;
    width: 100%;
    margin: auto;
}

li.tags{
    display: inline-flex;
    color: $text-light;
    border-radius: $radius-small;
    background-color: $grey-lightest;
    padding-left: $size-normal;
    padding-right: $size-normal;
    text-align: center;

    &:hover {
        cursor: pointer;
        background-color: $primary;
        color: $white;
    }
}

.btn-voir-lieu {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
}

.content ul.tags_container{
  position: absolute;
  bottom: 0.75rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.edit-banner {
  position: fixed;
  width: 100%;
  top: 63px;
  z-index: 999;
  display: inline-flex;
  align-items: center;
}

ul.list-undotted {
    & > li {

        display: inline-block;
        margin: 0px 3px;

        &:not(:last-child):after {
            padding-left: 3px;
            content: ' ';
        }
    }
}

a[target="_blank"].social-link::after {
    margin-left: 0.5em;
    font-family: "Font Awesome 6 Free";
    content: "\f35d";
}

.sticky {
    position: sticky;
    top: 3.25rem;
    z-index: 999;
    display: none;
    margin-bottom: 0;
    padding: 0.5em;
    width: 100%;
    background-color: $light-blue;

    h1 {
        font-size: 1.25em;
        margin: 0;

        .sticky-separator {
            color: $primary;
        }

        .sticky-section {
            color: $primary;
        }
    }
}

.bg-fil {
    background: url('../images/Ligne4.svg') center center no-repeat;
}

.mask {
    &::before {
        position: absolute;
        content: '';
        background: url('../images/map-mask.png') center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: 435;
    }
}

section.content-block {
    padding: 150px 1.5rem 2rem 1.5rem;
}


.slider-container .slider-item .image.is-contained img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
}

#page-listing-lieux .slider-container .slider-item .image.is-contained {
    height: 250px;
    width: auto;
}

@include until($widescreen) {
    img.is-half {
        width: 50%;
    }
}
