.impact_item {
    position: absolute;
    display: flex;
    &.impact_disabled {
        opacity: 0.5;
    }

    .impact_tooltip::before {
        background: white;
        border: 1px solid #004c44;
        color: #004c44;
        font-size: 1.0em;
    }

    &.bottom {
        bottom: -50px;
    }

    &.left {
        left: 110px;
    }

    &.right {
        right: 80px;
    }

    &.top {
        top: -45px;
    }

    @media screen and (max-width: 769px) {
        &.bottom {
            bottom: -20%;
        }

        &.left {
            left: 0%;
        }

        &.right {
            right: 0%;
        }

        &.top {
            top: -20%;
        }
    }
}

.word {
    color: #3b97a6;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;

    &-0{
        color: #ee5a52;
        font-size: 35px;
    }
    &-1{
        color: #f58352;
        font-size: 20px;
    }
}

#impact_social {
    .container {
        width: 100%;
        position: relative;
        @include until($desktop) {
            height: auto;
        }
        margin-bottom: 50px;
        max-width: 900px;

        h3 {
            text-transform: uppercase;
            font-family: "Renner Bold";
            font-weight: normal;
            font-size: 18pt;
            line-height: 1.2em;
        }

        .individuel,
        .collectif,
        .territorial {
            position: absolute;
            z-index: 2;

            @include until($desktop) {
                position: relative;
            }
        }

        .individuel {
            color: #EE5A52;

            .not-filled {
                color: lighten(#EE5A52, 20%);
            }
        }

        .collectif {
            color: #f58352;
            bottom: 0;
            @include until($desktop) {
                text-align: center;
                margin: 20px auto;
            }

            .not-filled {
                color: lighten(#f58352, 20%);
            }
        }

        .territorial {
            color: #3b97a6;
            right: 0;

            @include until($desktop) {
                text-align: right;
                margin-left: 20px;
            }

            .not-filled {
                color: lighten(#3b97a6, 20%);
            }
        }

        .intensity {
            font-size: 30px;
            margin-top: -5px;
            font-weight: bold;
        }

        > img {
            @include until($desktop) {
                display: none;
            }

            &.left {
                width: 300px;
                margin-top: 50px;
                float: left;
            }

            &.right {
                padding-top: 100px;
                width: 300px;
                float: right;
            }
        }

        @include until($desktop) {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
        }

        .cloud-layer {
            @include until($desktop) {
                position: relative;
                height: auto;
            }
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;

            .cloud {
                max-width: 400px;
                position: relative;
                top: 50%;
                @include until($desktop) {
                    transform: none;
                    top: 0px;
                }
                transform: translateY(-50%);
                text-align: center;
                margin: auto;
            }
        }
    }
}
