// ours variables
$red-theme: #e85048;
$light-red: #ee7969;
$black: #262631;
$blog-black: #413f4b;
$white: #f9f7f4;
$light-blue: #deebee;
$green: #4CAF50;
$font-gray: #3A3C49;

// ribbon
$rear-x-offset: 1em;
$rear-y-offset: .35em;
$ribbon-color: #e85048;


// Bulma's variables
$primary: $red-theme;
$light-primary: $light-red;
$body-background-color: $white;
$text: $black;
$text-strong: $black;

$footer-background-color: #413f4b;
$footer-color: $white;

$link: $primary;

$subtitle-color: $blog-black;
$subtitle-size: 2rem;
$subtitle-family: "Renner Bold";
$navbar-fixed-z: 463;
