// ours variables
$red-theme: #e85048;
$light-red: #ee7969;
$black: #262631;
$white: #f9f7f4;
$light-blue: #deebee;
$green: #4CAF50;


// Bulma's variables
$primary: $red-theme;
$light-primary: $light-red;
$body-background-color: $white;
$text: $black;
$text-strong: $black;

$footer-background-color: #413f4b;
$footer-color: $white;

$link: $primary;
