a.tag-css{
  text-transform:uppercase;
  background-color: #E8E8E8;
  padding: 1em;
}
#chartdiv {
  width: 100%;
  height: 300px;
}
#lieux_list{
  overflow-y: auto;
}
h2.title{
  margin-bottom: 60px;
}

.hero.is-light h2.subtitle.is-2 {
    color: #e85048;
}

.li_lieux{
  list-style-type: none;
  padding: 1em;
  cursor: pointer;
}

.sous-banner {
  font-size: 2em;
  width: 30%;
  position: relative;
  background: linear-gradient(to left, #ec6e68, #e85048, #ec6e68);
  color: #fff;
  text-align: center;
  padding: .3em 1em .3em;
  margin: 0em auto 1.25em;
  text-shadow: 0 1px 3px #e32d24;
  border-bottom: 5px solid #9c0000;
  text-transform: uppercase;
}

.sous-banner-localisation{
  position:absolute;
  z-index: 462; // Leaflet z-index = 461
  width: 40%;
  left: 50%;
  margin-left: -20%;
}

.sous-banner-composition{
  width: 40% !important;
}

.banner-image {
    width: 32.7%;
    margin: auto;
    margin-bottom: -71px;

    img {
        z-index: 1;
        position: relative;
    }
}

.banner-fil {
    background-size: cover;
    background-clip: border-box;

    .sous-banner {
        margin-top: 1.25em;
        line-height: 2.25em;

        margin: 2em auto 1.25em;
        padding: 0.7em 32px;
        &.has-image-attached {
            margin-top: 0 !important;
        }
    }
}

.fil-4{
    background-image: url('/images/Ligne4.svg');
}

.fil-2{
    background-image: url('/images/Ligne2.svg');
}

.fil-5{
    background-image: url('/images/Ligne5.svg');
}

.sous-banner a {
  color:white;
  font-size: 0.7em;
}
.section-place{
  padding: 0;
  padding-bottom: 30px;
  border-top:2px solid black;
}

.accessibilite{
  border-top: 2px solid black;
}

.banner-valeurs{
  position: relative;
  width: 30%;
  left: 50%;
  margin-left: -15%;
}

.icone-moyen{
  width: 50px;
  height: 50px;
}
.valeurs-exemples{
  margin:auto;
  text-align: left;
}

.fond-bleu{
  background-color: $light-blue;
}

div.tooltip {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: flex;
    width: 100%;
    height: 12px;
    padding: 4px;
    font: 1em "SF Mono Bold";
    background-color: "#FFF";
    border-bottom: .5px solid;
    pointer-events: none;
}

.apexcharts-bar-series,.apexcharts-plot-series,.apexcharts-inner {
  margin-top: -300px !important;
}
.main-arc, .hidden-arc{
  fill-opacity:0.8;
}
.line-slide {
  cursor: pointer;
  width: 100px;
  height: 10px;
  background-color: #DDD;
  opacity: 1;
  margin: 10px;
  display: inline-block;
  transition: opacity 0.2s ease;
}
.line-slide:hover{
  opacity: 0.5;
}
p.cspTitle,div.cspCaption{
  display: none !important;
}

.caption-block{
  display: none !important;
}

.actifBar,.cspBar,.logementBar{
  transition: transform 0.2s ease;
}
.btn-legend{
  background-color: none;
  border: none;
}
.actifBar:hover,.cspBar:hover,.logementBar:hover{
  transform: scale(1.5);
  z-index: 1000;
}

#balance, #process{
    height: 20em;
    margin: 1%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Renner Bold';
}

.impacts >h1, .impacts >h2, .app-name > h1{
    // font-family: blzee-font;
    font-family: 'Renner Bold';
    font-size: 5em;
}

.font-color-theme{
  color: $red-theme ! important;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #FFF;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}
.compareHeight{
  height: 17em;
}

.defaultSizefaComposition{
  width: 20px !important;
  height: 16px !important;
}
.borderL{
  border-left: solid;
}
.borderR{
  border-right: solid;
}

.borderT{
  border-top: solid;
}

.borderB{
  border-bottom: solid;
}

.is1em{
  height: auto;
  width: 1em;
  vertical-align: top;
}
.is5em{
  height: auto;
  width: 5em;
  vertical-align: top;
}

.is20em{
  height: auto;
  width: 20em;
  vertical-align: top;
}

.is30em{
  height: auto;
  width: 30em;
  vertical-align: top;
}
.modebar-container{
  display: none ;
}
.height100percent{
  height: 100%;
}

.fontSize1em{
  font-size: 1em;
}
.fontSize1-5em{
  font-size: 1.5em;
}

.fontSize1em{
  font-size: 1em;
}

.Progress{
  height: 2em;
  width: 30em;
}
.Progress-item{
  height: 1.5em;
}
.Progress-label{
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: 1em 0 0;
}
#myProgress {
  width: 80%;
  background-color:  $grey-lighter ;
  border-radius: 1em;
  margin: 1em;
}
.caption-block{
  width: max-content;
}

.myBar {
  height: 2em;
  background-color: $green;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 1em;
}

.block-data-stat > div{
    margin: 1em;
    height: 10em;
}

.text-doughnut-finance{

}
.slice text{
  font-size: .7em;
  font-weight: 200;
}

@media (min-height: 300px) {
    .scrolling-menu {
        position: sticky;
        top: 3.1rem;
    }

    /* .scrolling-menu aside { */
    /*     padding-top: 1rem; */
    /* } */
}

.anchor {
    scroll-margin-top: 2em;
}

html {
    scroll-behavior: smooth;
}

.write-us, .write-us+span, .social-network{
    padding: 10%;
}

.menu.is-inverted > .menu-list a{
    color: $white;
}
.menu.is-inverted > .menu-list a:hover{
    color: $black;
}

.menu.is-inverted {
    > .menu-label {
        color: $primary;
        font-weight: bold;
    }
}

#info-box {}
#info-box .info-box-header {
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
    background-color: $primary;
    color: $white;
}
#info-box .info-box-content {padding: 5px 20px}
#info-box .info-box-content .info-box-entry {font-weight: 500}
#info-box .info-box-content .info-box-map {height: 500px; z-index:0}
#info-box dt {font-weight: 500;}

.is-primary-light {
    background-color: $light-primary;

    .title, p {
        color: $white;
    }
}

h1.title:not(.header-title):not(.no-border),
h2.title:not(.header-title):not(.no-border),
h3.title:not(.header-title):not(.no-border),
h4.title:not(.header-title):not(.no-border),
h5.title:not(.header-title):not(.no-border),
h6.title:not(.header-title):not(.no-border) {
    &:after {
        content: '';
        display: block;
        width: 5%;
        border-bottom: 10px $primary solid;
        padding: 5px 0;
        margin: auto;
    }
    &:not(.has-text-centered):after {
        margin: 0;
    }
}

.box, .level {
    .title {
        &:after { display: none; }
    }
}

header {
    .title {
        color: $primary;
    }

    .banner {
        background-color: $light-blue;
    }
}

.is-circle{
  border-radius: 100%;
}



// graph
svg {
    &.small {
        width: 10em;
        height: 10em;
    }
    &.very-small {
        width: 5em;
        height: 5em;
    }
    &.tiny {
        width: 2em;
        height: 2em;
    }
    &.narrow {
        margin: auto -10px;
    }
    &#female {
        fill: $primary;
    }
    &#male {
        fill: $primary;
    }
}

.squared {
    display: inline-block;
    border: 2px solid $black;
    padding: 10px;
    background-color: transparent;

    &.filled {
        background-color: $primary;
    }
}

// Tabs
.tabs-content {
    .tab {
        display: none;
    }
    .tab.is-active {
        display: block;
    }
}
//icon public:hover
.public-icons > i{
  font-size: 2em;
}
#i-childText, #i-familyText, #i-graduateText{
  opacity: 0;
  transition:opacity .5s ease;
}
.fa-child:hover + #i-childText{
  opacity: 1;
}
.fa-users:hover + #i-familyText{
  opacity: 1;
}
.fa-user-graduate:hover + #i-graduateText{
  opacity: 1;
}
.path-2s {
  stroke-dashoffset: 1000;
  animation: dash 2s linear ;
}
.value_item{
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 30px;
  vertical-align: middle;
  transition: 0.2s ease;

}
.value_item:hover{
  transform: scale(1.5);
}
.value_item:hover + .value_item_child{
  display: block;
}
.value_text{
  font-size: 0.7em;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  margin-top: 40px;
}
.value_item-child{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  transition: all .1s ease;
  z-index:-1;
}
.value_text_child{
  font-size: .5em;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  margin-top: 20px;
}
#value_container{
  background-color:#DEEBEE;
}
#circleActivités >div{
  left: -50px !important;
}
@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

//
.block-data-stat > div{
    line-height: 0em ;
}
.accueil-paragraphe li{
  list-style-type: disc;
}
.accueil-paragraphe{
  padding: 5px;
}

//
.partenaires-block{
  background-color: white !important;
}
p.partenaires_text{
  opacity: 0;
  transition: all 0.5s ease;
}
.logo_partenaires:hover + p.partenaires_text{
  opacity: 1;
}
.logo_partenaires{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*
* Page Places style
*/
.place-tr th:hover{
  background-color: #E8E8E8;
}
.img-places{
  max-height: 20em;
}
.switch[type="checkbox"].is-success:checked + label::before, .switch[type="checkbox"].is-success:checked + label:before{
  background-color: #B5B5B5 !important;
}
.switch[type="checkbox"].is-success #label_investissement{
  font-weight: bold;
}
.switch[type="checkbox"].is-success:checked ~ #label_investissement{
  font-weight: normal;
}
.switch[type="checkbox"] ~ #label_fonctionnement{
  font-weight: normal;
}
.switch[type="checkbox"].is-success:checked ~ #label_fonctionnement{
  font-weight: bold;
}

.label_moyens{
  font-weight: bold;
}
/*
* Style page Place
*/
.bloc-note{
  padding:20%;
}
.header-bloc-note{
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.header-bloc-note .image img{
    margin-bottom: -30px;
}
.bloc-note-body{
  border-top: 2.2em solid #c1c1c1;
	border-bottom: 1.5em solid #c1c1c1;
	border-left: 1em solid #c1c1c1;
	border-right: 1em solid #c1c1c1;
  height: 25em;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  text-align: justify;
  padding: 0px 20px; }

.bloc-note-body h4{
  color:#e32d24 !important;
  margin-bottom: 0px !important;
}
.bloc-note-body h5{
  font-size: 1em;
  color:#e32d24 !important;
  margin-bottom: 0px !important;
}
.bloc-note-body div{
  margin: 2% 2% 0% 2%;
}
.home-head{
  width:100%;
  margin-bottom: 0px;
}
.home-body{
  width: 100%;
  padding-top: 0.5em;
}

.home-body-right{
  background-color: #cccccc;
  margin-right: 1.5%;
}
.home-body-left{
  padding-top: 10%;
  background-color:#f2f2f2;
}
.window{
  margin: 6%;
  padding: 1px;
  border: 1px solid #3f3d56;
  background-color: #3f3d56;
  font-size: 1em;
  color: white;
}
.window-right{
  width:max-content;
}
.home-foot{
  width: 100%;
  border: 2px solid;
}
.block-pyramide{
  // border:1px solid #fff;
  margin: 6px;
  padding: 2px;

}

.leaflet-container a {
	color: #e85048;
}
.leaflet-container a.button {
	color: #262631;
}

#map-insee {
	position: sticky!important;
}

.map-fullwidth {
    width: 100%;
    min-height: 500px;
}

.scroll-indicator-controller span {
	background-color:#e85048;
	border-radius: 4px;
  color:white;
}
.input-number{
  padding:10px;
}

.valeurs{
  text-transform: uppercase;
  // color:#e85048;
  font-size:30px;
  color:black;
}
.labelpopup
{
	display: block;
	width: 150px;
	float: left;
}

.input{
	margin-bottom:10px;
}

.labelpopup
{
	display: block;
	width: 150px;
	float: left;
  font-weight: bold;
}

.checkbox {
	padding-left:5px;
	font-size: 20px;
}

.level-item-home{
  align-items : first baseline !important;
}

.partners-footer{
  font-weight:bold;
  color:#e85048;
}

.scroll-indicator-controller > div span::after{
  padding:20px;
}

.scroll-indicator-controller > div span{
  color:white;
  font-weight: bold;
  line-height: 25px !important;
}

.description-section{
  margin:auto;
  text-align: justify;
  width:30%;
  font-size:1.1em;
  padding-bottom: 15px;
  margin: 0em auto 1.25em;
}
