$rear-x-offset: 1em;
$rear-y-offset: .35em;
$ribbon-color: #e85048;

a.tag-css{
  text-transform:uppercase;
  background-color: #E8E8E8;
  padding: 1em;
}
 #slideValeurs2,#slideFinanceCompo2 {
  transition: opacity 1s;
  opacity: 0;
}
#chartdiv {
  width: 100%;
  height: 300px;
}

.ribbon-banner {
  display: table;
  font-size: 1.5em;
  max-width: 85%;
  position: relative;
  background: $ribbon-color;
  background: linear-gradient(to left,lighten($ribbon-color, 7%), $ribbon-color ,lighten($ribbon-color, 7%));
  color: #fff;
  text-align: center;
  padding: .3em 1em .3em;
  margin: .75em auto 1.25em;
  text-shadow: 0 1px 3px darken($ribbon-color, 8%);

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -($rear-y-offset);
    border-width: .85em;
    border-style: solid;
    border-color: $ribbon-color;
    z-index: -1;
  }
  &:before {
    left: -($rear-x-offset);
    border-right-width: $rear-x-offset * 1.5;
    border-left-width: $rear-x-offset/2;
    border-left-color: transparent;
  }
  &:after {
    right: -($rear-x-offset);
    border-left-width: $rear-x-offset * 1.5;
    border-right-width: $rear-x-offset/2;
    border-right-color: transparent;
  }
  span:before,
  span:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: darken($ribbon-color, 12%) transparent transparent transparent;
    bottom: -$rear-y-offset;
  }
  span:before {
    left: 0;
    border-width: $rear-y-offset 0 0 $rear-x-offset;
  }
  span:after {
    right: 0;
    border-width: $rear-y-offset $rear-x-offset 0 0;
  }
}

div.tooltip {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: flex;
    width: 100%;
    height: 12px;
    padding: 4px;
    font: 1em "SF Mono Bold";
    background-color: "#FFF";
    border-bottom: .5px solid;
    pointer-events: none;
}

.apexcharts-bar-series,.apexcharts-plot-series,.apexcharts-inner {
  margin-top: -300px !important;
}
.box{
  width: 35%;
}

.main-arc, .hidden-arc{
  fill-opacity:0.8;
}
.line-slide {
  cursor: pointer;
  width: 100px;
  height: 10px;
  background-color: #DDD;
  opacity: 1;
  margin: 10px;
  display: inline-block;
  transition: opacity 0.2s ease;
}
.line-slide:hover{
  opacity: 0.5;
}
p.cspTitle,div.cspCaption{
  display: none !important;
}

.caption-block{
  display: none !important;
}

.actifBar,.cspBar,.logementBar{
  transition: transform 0.2s ease;
}
.btn-legend{
  background-color: none;
  border: none;
}
.actifBar:hover,.cspBar:hover,.logementBar:hover{
  transform: scale(1.5);
  z-index: 1000;
}

#balance, #process{
    height: 20em;
    margin: 1%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Renner Bold';
}

.impacts >h1, .impacts >h2, .app-name > h1{
    // font-family: blzee-font;
    font-family: 'Renner Bold';
    font-size: 5em;
}

.font-color-theme{
  color: $red-theme ! important;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #FFF;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}
.compareHeight{
  height: 17em;
}

.defaultSizefaComposition{
  width: 20px !important;
  height: 16px !important;
}
.borderL{
  border-left: solid;
}
.borderR{
  border-right: solid;
}

.borderT{
  border-top: solid;
}

.borderB{
  border-bottom: solid;
}

.location-home,
.budget,
#actor-illustration,
#budget-value-illustration {
  position: relative;
}

#owner,
#contract,
#occupant,
#actor,
#actor-illustration-detail,
#description-illustration-detail,
#budget-value
{
  position: absolute;
  height: auto;
  width: auto;
}

#owner,
#contract,
#occupant,
#budget-total,
#actor{
  //background-color: white;
  color: white;
}
#owner,
#contract,
#occupant,
#actor
{
  //border: 1px #e85048 solid;
  padding: 5px;
  left: 12%;
  font-size: .8em;
}

.is1em{
  height: auto;
  width: 1em;
  vertical-align: top;
}
.is5em{
  height: auto;
  width: 5em;
  vertical-align: top;
}

.is20em{
  height: auto;
  width: 20em;
  vertical-align: top;
}

.is30em{
  height: auto;
  width: 30em;
  vertical-align: top;
}

.height100percent{
  height: 100%;
}

.fontSize1em{
  font-size: 1em;
}
.fontSize1-5em{
  font-size: 1.5em;
}

.fonfSize0-8em{
  font-size: 0.8em;
}

#budget-value{
  top: 4em;
}
#occupant{
  top: 37.5%;
}

#owner {
  bottom: 8em;
}

#actor{
  top: 22.5%;
}

#contract {
  bottom: 8em;
}

#description-illustration-detail{
  top: 20%;
  left: 30%;
  width: 50%;
  padding: 1em 0em 0 1.5em;
}

.description,.actor{
  overflow-y:auto;
}

#actor-illustration-detail{
  top: 20%;
  left: 30%;
  width: 50%;
  padding: 1em 0em 0 2em;
}

#sectionResilienceBar{
  padding-top: 0 !important;
}
#resilience-div{
  margin: 2em;
}
.Progress{
  height: 2em;
  width: 30em;
}
.Progress-item{
  height: 1.5em;
}
.Progress-label{
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: 1em 0 0;
}
#myProgress {
  width: 80%;
  background-color:  $grey-lighter ;
  border-radius: 1em;
  margin: 1em;
}
.caption-block{
  width: max-content;
}

.myBar {
  height: 2em;
  background-color: $green;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 1em;
}

.block-data-stat > div{
    margin: 1em;
    height: 10em;
}

.text-doughnut-finance{
  font-size: .5em;
}

@media (min-height: 300px) {
    .scrolling-menu {
        position: sticky;
        top: 3.1rem;
    }

    /* .scrolling-menu aside { */
    /*     padding-top: 1rem; */
    /* } */
}

.anchor {
    scroll-margin-top: 2em;
}

html {
    scroll-behavior: smooth;
}

.write-us, .write-us+span, .social-network{
    padding: 10%;
}

.menu.is-inverted > .menu-list a{
    color: $white;
}
.menu.is-inverted > .menu-list a:hover{
    color: $black;
}

.menu.is-inverted {
    > .menu-label {
        color: $primary;
        font-weight: bold;
    }
}

#info-box {}
#info-box .info-box-header {
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
    background-color: $primary;
    color: $white;
}
#info-box .info-box-content {padding: 5px 20px}
#info-box .info-box-content .info-box-entry {font-weight: 500}
#info-box .info-box-content .info-box-map {height: 200px; z-index:0}
#info-box dt {font-weight: 500;}

.is-primary-light {
    background-color: $light-primary;

    .title, p {
        color: $white;
    }
}

h1.title:not(.header-title):not(.no-border),
h2.title:not(.header-title):not(.no-border),
h3.title:not(.header-title):not(.no-border),
h4.title:not(.header-title):not(.no-border),
h5.title:not(.header-title):not(.no-border),
h6.title:not(.header-title):not(.no-border) {
    &:after {
        content: '';
        display: block;
        width: 5%;
        border-bottom: 10px $primary solid;
        padding: 5px 0;
        margin: auto;
    }
    &:not(.has-text-centered):after {
        margin: 0;
    }
}

.box, .level {
    .title {
        &:after { display: none; }
    }
}

header {
    .title {
        color: $primary;
    }

    .banner {
        background-color: $light-blue;
    }
}

.is-circle{
  border-radius: 100%;
}



// graph
svg {
    &.small {
        width: 10em;
        height: 10em;
    }
    &.very-small {
        width: 5em;
        height: 5em;
    }
    &#female {
        fill: $primary;
    }
    &#male {
        fill: $black;
    }
}

.squared {
    display: inline-block;
    border: 2px solid $black;
    padding: 10px;
    background-color: transparent;

    &.filled {
        background-color: $primary;
    }
}

// Tabs
.tabs-content {
    .tab {
        display: none;
    }
    .tab.is-active {
        display: block;
    }
}

// Chromosomes
.chromosomic-color {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-block;

    &:not(:first-child) {
        margin-left: 15px;
    }
}

.health-color {
    background-color: #ee4035;
}

.art-color {
    background-color: #f37736;
}

.education-color {
    background-color: #fdf498;
}

.activity-color {
    background-color: #7bc043;
}

.environment-color {
    background-color: #0392cf;
}

.solidarity-color {
    background-color: #d11141;
}

.chromosomic {
    div {
        display: inline-block;
        height: 1em;
    }

    div:first-child {
        border-radius: 30px 0 0 30px;
        margin-left: 0;
    }

    div:last-child {
        border-radius: 0 30px 30px 0;
        margin-right: 0;
    }
}
