@charset "utf-8";

// Import fonts
@import "_mixins";
@font-face { font-family: "Renner Bold"; src: url("../fonts/renner-bold.otf") format("opentype"); }

$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts/";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "_variables";

@import "~bulma/bulma.sass";
@import "~bulma-carousel/src/sass/index.sass";
@import "~bulma-switch/src/sass/index.sass";
@import "~@creativebulma/bulma-tooltip";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~leaflet-gesture-handling/dist/leaflet-gesture-handling.css";

// CSS Commune Mesure
@import "custom";
@import "_edition";
@import "_socialimpact";
@import "_cmicons";
@import "_places";
@import "easyScrollDots.min.css";
